.u-block-c5c2-5 {
  position: absolute;
  inset: auto auto 15.4531px calc(50% - 826.734px);
}

.u-block-c5c2-3 {
  position: absolute;
  left: 0;
  padding: 7px;
}

.u-block-c5c2-4 {
  position: absolute;
  right: 0;
  padding: 7px;
}

 .u-section-1-1 {
  min-height: 836px;
}

.u-section-1-1 .u-image-1 {
  min-height: 867px;
  height: auto;
  width: 2024px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('images/3f3713953636204af16bee93d3e8634ba1917c4848d8e8463bc929c8d2b66214be9f0c1247aa7af93b91ee9f9a5c529a4fa7680822b4a55f6465cd_1280.jpg');
  background-position: 50% 50%;
  margin: -22px -2px -9px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 399px 1144px 0 285px;
}

.u-section-1-1 .u-text-2 {
  font-size: 3.75rem;
  margin: -106px 1158px 0 285px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-image-1 {
    width: 940px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-right: auto;
    margin-left: calc(((100% - 1199px) / 2));
    height: auto;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 604px;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: -15px;
    margin-right: 618px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-image-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 125px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 139px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-image-1 {
    width: 540px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-image-1 {
    width: 340px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 1.875rem;
  }
}

 .u-section-1-2 {
  min-height: 836px;
}

.u-section-1-2 .u-image-1 {
  min-height: 867px;
  height: auto;
  width: 2024px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('images/3f3713953636204af16bee93d3e8634ba1917c4848d8e8463bc929c8d2b66214be9f0c1247aa7af93b91ee9f9a5c529a4fa7680822b4a55f6465cd_1280.jpg');
  background-position: 50% 50%;
  margin: -22px -2px -9px;
}

.u-section-1-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 395px 0 228px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-image-1 {
    width: 940px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-right: auto;
    margin-left: calc(((100% - 1199px) / 2));
    height: auto;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-image-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-image-1 {
    width: 540px;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-image-1 {
    width: 340px;
  }
}

 .u-section-1-3 {
  min-height: 836px;
}

.u-section-1-3 .u-image-1 {
  min-height: 867px;
  height: auto;
  width: 2024px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('images/3f3713953636204af16bee93d3e8634ba1917c4848d8e8463bc929c8d2b66214be9f0c1247aa7af93b91ee9f9a5c529a4fa7680822b4a55f6465cd_1280.jpg?rand=0754');
  background-position: 50% 50%;
  margin: -22px -2px -9px;
}

.u-section-1-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 395px 0 228px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-image-1 {
    width: 940px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-right: auto;
    margin-left: calc(((100% - 1199px) / 2));
    height: auto;
  }

  .u-section-1-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-image-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-image-1 {
    width: 540px;
  }

  .u-section-1-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-image-1 {
    width: 340px;
  }
}

.u-block-642a-3:not([data-block-selected]):not([data-cell-selected]),
.u-block-642a-3:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-642a-3:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-642a-3:not([data-block-selected]):not([data-cell-selected]).u-block-642a-3:not([data-block-selected]):not([data-cell-selected]).u-block-642a-3:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-642a-3:not([data-block-selected]):not([data-cell-selected]).u-block-642a-3:not([data-block-selected]):not([data-cell-selected]).u-block-642a-3:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-86a6-3:not([data-block-selected]):not([data-cell-selected]),
.u-block-86a6-3:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-86a6-3:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-86a6-3:not([data-block-selected]):not([data-cell-selected]).u-block-86a6-3:not([data-block-selected]):not([data-cell-selected]).u-block-86a6-3:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-86a6-3:not([data-block-selected]):not([data-cell-selected]).u-block-86a6-3:not([data-block-selected]):not([data-cell-selected]).u-block-86a6-3:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: linear-gradient(to right, #a59877, #808080);
}

.u-section-2 .u-sheet-1 {
  min-height: 1241px;
}

.u-section-2 .u-group-1 {
  width: 790px;
  min-height: 928px;
  height: auto;
  margin: 192px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 40px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 28px 48px 0 0;
}

.u-section-2 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  background-image: none;
  margin: 45px 56px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: linear-gradient(to right, #a59877, #808080);
}

.u-section-3 .u-sheet-1 {
  min-height: 365px;
}

.u-section-3 .u-group-1 {
  min-height: 310px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  height: auto;
  margin-top: 28px;
  margin-bottom: 28px;
}

.u-section-3 .u-container-layout-1 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-3 .u-text-1 {
  margin: 98px auto 0;
}

.u-section-3 .u-text-2 {
  width: 229px;
  margin: 28px auto 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 365px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 59px;
    margin-left: 104px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-left: 113px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    min-height: 466px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 57px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: url("images/cvvcv-min.jpg?rand=b9b2");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 840px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 91px 518px 0 0;
}

.u-section-4 .u-list-1 {
  width: 508px;
  margin: 46px auto 60px 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 6px));
  min-height: 496px;
  grid-gap: 12px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-3 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-4 .u-list-item-4 {
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-4 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 72.12% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 318px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1219px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 98px;
  }

  .u-section-4 .u-list-1 {
    width: 288px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 925px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    background-position: 72.71% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1119px;
  }

  .u-section-4 .u-list-1 {
    width: 229px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('images/vbt-min.jpg?rand=fb80');
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 744px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 669px;
  margin: 60px auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 247px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-btn-1 {
  margin: 20px 0 0;
  padding: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 247px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-btn-2 {
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 247px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-btn-3 {
  margin: 20px 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-5 .u-btn-1 {
    border-style: none none double;
  }

  .u-section-5 .u-btn-2 {
    border-style: none none double;
  }

  .u-section-5 .u-btn-3 {
    border-style: none none double;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 60px;
  }
} .u-section-6 {
  min-height: 96px;
  background-image: linear-gradient(to right, #a59877, #808080);
}

.u-section-6 .u-image-1 {
  min-height: 352px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/a33c29b4-0a40-4d00-929c-4a3b0db90e08.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  line-height: 2;
  font-size: 1rem;
  width: 735px;
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 0 auto;
}

.u-section-6 .u-gallery-1 {
  height: 434px;
  width: 941px;
  margin: -53px auto 75px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
}

.u-section-6 .u-back-image-1 {
  object-position: 66.86% 50%;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-back-image-2 {
  object-position: 66.86% 50%;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-gallery-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 410px;
  }

  .u-section-6 .u-text-1 {
    width: 660px;
  }

  .u-section-6 .u-gallery-1 {
    width: 720px;
    height: 1330px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1532px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    width: 520px;
  }

  .u-section-6 .u-gallery-1 {
    width: 540px;
    height: 998px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 839px;
  }

  .u-section-6 .u-text-1 {
    width: 320px;
  }

  .u-section-6 .u-gallery-1 {
    width: 340px;
    height: 628px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('images/gggg.jpg?rand=9781');
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 718px;
}

.u-section-7 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 886px;
  margin: 166px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 681px;
  margin: 56px auto 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.27;
  margin: 97px auto 0;
  padding: 14px 52px 16px 51px;
}

.u-section-7 .u-line-1 {
  width: 1056px;
  margin: 128px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-7 .u-line-1 {
    width: 940px;
    height: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-7 .u-text-1 {
    width: 720px;
  }

  .u-section-7 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }

  .u-section-7 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 214px;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }

  .u-section-7 .u-line-1 {
    width: 340px;
  }
}